<div class="unityPage">

  <div class="unity-content">
  <h1 class="page-title">{{ page.title }}</h1>
  	<div id="unityPlayer">
  		<div class="missing">
  			<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
  				<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
  			</a>
  		</div>
  	</div>
  	<br />
  	<p class="footer">&laquo; created with <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;</p>
  </div>
  {{ content }}

  <br />
  If you like this game, you can <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}&amp;via=thunderrabbit" target="_blank"> share it with your followers</a> or <a href="https://twitter.com/thunderrabbit"> follow me on Twitter</a>!
</div>
